<header
  style="background-color: skyblue; display: flex; flex-direction: row; justify-content: space-between;">
  <h1 style="padding: 5px">{{ pageTitle }}</h1>
  <div style="padding: 5px">
    <p><a href="/">Home</a></p>
    <p><a href="/about">About</a></p>
  </div>
</header>
